<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello. <%= @user.name %></h1>
    <p>
       This is an email confirming that your order has been placed.
    </p>
    <p>
        Thanks for giving us your money.
    </p>
    
  </body>
</html>